{% extends "main/base.html" %}

{% block stylesheets %}<link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/administrative.css" />{% endblock %}
{% block subtitle %}Administrative Staff{% endblock %}


{% block onload %}
    ddaccordion.expandone('submenuheader', 2);
{% endblock %}

{% block content %}
  <div class="column">
    <div class="admin-title">Medical Director</div>
    <div class="admin-name">Jamil Abraham</div>
    <div class="contact">
      (718) 659 7166 ext 209<br/>
      <a class="mail" href="mailto:jabraham@parkhealth.com">jabraham@parkhealth.com</a>
    </div>
  </div>

  <div class="column">
    <div class="admin-title">Director of Operations</div>
    <div class="admin-name">Ann Marie</div>
    <div class="contact">
      (718) 659 7166 ext 205<br/>
      <a class="mail" href="mailto:amarie@parkhealth.com">amarie@parkhealth.com</a>
    </div>
  </div>

  <div class="cb">&nbsp;</div>

  <div class="column">
    <div class="admin-title">No Fault Case Manager</div>
    <div class="admin-name">Janice Stock</div>
    <div class="contact">
      (718) 659 7166 ext 240<br/>
      <a class="mail" href="mailto:janice@parkhealth.com">janice@parkhealth.com</a>
    </div>
  </div>

  <div class="column">
    <div class="admin-title">Accounts Manager</div>
    <div class="admin-name">Sheila Ramasre</div>
    <div class="contact">
      (718) 659 7166 ext 222<br/>
      <a class="mail" href="mailto:sheila@parkhealth.com">sheila@parkhealth.com</a>
    </div>
  </div>

  <div class="cb">&nbsp;</div>

  <div class="column">
    <div class="admin-title">Billing Manager</div>
    <div class="admin-name">Desiree Balladin</div>
    <div class="contact">
      (718) 659 7166 ext 235<br/>
      <a class="mail" href="mailto:desiree@parkhealth.com">desiree@parkhealth.com</a>
    </div>
  </div>

  <div class="column">
    Medical Records<br/>
    Lionel Bhadai
    <div class="contact">
      (718) 659 7166 ext 238<br/>
      <a class="mail" href="mailto:lyb@parkhealth.com">lyb@parkhealth.com</a>
    </div>
  </div>

  <div class="cb">&nbsp;</div>

  <div class="column">
    Chief Information Officer<br/>
    Onkar Harry
    <div class="contact">
      (718) 659 7166 ext 224<br/>
      <a class="mail" href="mailto:oharry@parkhealth.com">oharry@parkhealth.com</a>
    </div>
  </div>
{% endblock %}
        
