{% extends "main/base.html" %}
        
{% block stylesheets %}<link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/medical.css" />{% endblock %}
{% block subtitle %}Medical Staff{% endblock %}

{% block expandmenu %}
    ddaccordion.expandone('submenuheader', 2);
{% endblock %}

{% block content-class %}medical{% endblock %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Degree</th>
            <th>Specialty</th>
        </tr>
    </thead>
    <tbody>
        {% for staff in medical_staff %}
        <tr>
            <td class="doctor">
                {% if staff.has_bio %}
                <a href="{{BASE_URL}}/staff/medical/{{ staff.name_first }}/{{staff.name_last}}/">{{ staff }}</a>
                {% else %}
                <div class="medical-name">{{ staff }}</div>
                {% endif %}
            </td>
            <td class="degree">{% for degree in staff.get_degrees %}{{ degree.acronym }} {% endfor %}</td>
            <td class="specialty">{% for specialty in staff.get_specialties %}{{ specialty.name }}<br />{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
        
