.content {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
}

a:link.mail {
    color: #805d40;
}

a:visited.mail {
    color: #8560a8;
}

div.contact {
    font-size: 10pt;
}

div.column{
    float:left;
    width: 220px;
    margin: 20px 0px 0px 30px;
}

div.cb {
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
}



