html,body {
    margin-left:0px;
    margin-top:0px;
    
    /* 
       extend the height and widht 100%, this allows us
       to extend the height of the content to the bottom
       and the width of the header to the right
    */
    height:100%;
    width: 100%;
    background: #e6e3cf;
}


div.header {
    color: #494980;
    background: #d2d2e6;
    width: 1150px;
    height: 230px;
}

div.title {
    font-family: Verdana, sans-serif;    
    font-size: 27pt;
    
    position: absolute;
    left: 50px;
    top: 10px;
    width: 80%;
}

div.subtitle {
    font-family: Verdana, sans-serif;
    font-size: 22pt;
    
    position: absolute;    
    left: 70px;
    top: 60px; 
    width: 80%;
}

div.subtitle-information {
    font-family: Verdana, sans-serif;

    position: absolute;
    left: 90px;
    top: 105px;

    font-size: 1.3em; 
    
    width: 80%;
}

#menu_content {
    position: absolute;
    top: 20px;
    left: 830px;
}

.content {
    font-family: Palatino Linotype, Palatino, serif;
    font-size: 12pt;
    color: #805d40;    
}

div.content {
    padding-left: 50px;
    padding-right: 170px;
    width: 760px;
}

dl.content{
    margin-left:30px;
    width: 600px;
}

dt.content{
    font-weight: bold;
    margin-top: 30px;
}
dd.content{
    margin-left: 20px;
    margin-top: 10px;
}

dt.desc{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 7px;
}

dd.desc{
    margin-left: 0px;
}


ul.content {
    line-height: 1.7em;
    list-style-type: square;
}

div.column{
    float: left;
    margin-top:0px;
    width: 340px;
}


img.center {
    position: relative;
    left: 100px;
    top: 50px;
}
div.cb {
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
}
