
@font-face {
	font-family: 'MankSansRegular';
	src: url('../font/manksans/manksans.eot');
	src: local('MankSans'), local('MankSans'), 
        url('../font/manksans/manksans.woff') format('woff'), 
        url('../font/manksans/manksans.ttf') format('truetype');
}

@font-face {
	font-family: 'MankSansItalic';
	src: url('../font/manksans/manksansoblique.eot');
	src: local('MankSans'), local('MankSans-Oblique'), 
        url('../font/manksans/manksansoblique.woff') format('woff'), 
        url('../font/manksans/manksansoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'MankSans-MediumMediumItalic';
	src: url('../font/manksans/manksansmediumoblique.eot');
	src: local('MankSans-Medium'), local('MankSans-MediumOblique'), 
        url('../font/manksans/manksansmediumoblique.woff') format('woff'), 
        url('../font/manksans/manksansmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'MankSans-MediumRegular';
	src: url('../font/manksans/manksansmedium.eot');
	src: local('MankSans-Medium'), local('MankSans-Medium'), 
        url('../font/manksans/manksansmedium.woff') format('woff'), 
        url('../font/manksans/manksansmedium.ttf') format('truetype');
}



html,body {
    margin-left:0px;
    margin-top:0px;
    
    /* 
       extend the height and widht 100%, this allows us
       to extend the height of the content to the bottom
       and the width of the header to the right
       
       NOTE: got rid of height, cause it made a stupid bar appear on the right side of the screen
    */
    width: 100%;
    background: #e6e3cf;
}


div.header {
    color: #494980;
    background: #d2d2e6;
    width: 740px;
    height: 140px;
}

div.title {
    font-family: MankSans-MediumRegular, Verdana, sans-serif;    
    font-size: 36pt;
    
    position: absolute;
    left: 20px;
    top: 10px;
    width: 500px;
}

div.subtitle {
    font-family: MankSansRegular, Verdana, sans-serif;
    font-size: 24pt;
    
    position: absolute;    
    top: 70px; 
    left: 25px;
    width: 500px;
}

div.subtitle-information {
    font-family: MankSansRegular, Verdana, sans-serif;
    font-size: 16pt; 

    position: absolute;
    top: 110px;
    left: 30px;
    width: 500px;
}

.content {
    font-family: MankSans-MediumRegular, Palatino Linotype, Palatino, serif;
    font-size: 10pt;
    color: #805d40;    
}

div.content {
    padding-left: 15px;
    padding-right: 170px;
    padding-bottom: 30px;
    width: 505px;
}

div.column{
    float: left;
    width: 230px;
    margin-right: 20px;
}

p {
    margin-top: 20px;
}

div.emph {
    margin-top:15px;
    font-weight:bold;
}


dt{
    font-weight: bold;
    margin-top: 20px;
}
dd{
    margin-left: 10px;
    margin-top: 10px;
}
dd.close {
    margin-top: 0px;
}


ul {
    line-height: 1.7em;
    list-style-type: square;
}

div.center {
    margin-top: 10%;
    position: relative;
}

img.center {
    position: relative;
    top: 50px;
}

a:link {
    color: #4444bf;
}

a:visited {
    color: #8560a8;
}

div.cb {
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
}
