.bio {
    font-family: Palatino Linotype, Palatino, serif;
    font-size: 10pt;
    color: #805d40;    
}

div.bio {
    padding-top: 10px;
    padding-left: 30px;
    background: #e6e3cf;
    width: 850px;
    height: 100%;
    position: absolute;
}

div.label {
    padding-top: 20px;
    font-weight: bold;
}

ul {
    line-height: 1.5em;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}


div.cb {
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
}



