div.header{
    height: 100px;
}

.community {
    font-family: Verdana, sans-serif; 
    font-weight: normal;
    font-size: 10pt;
    color: #805d40;    
}

div.community {
    padding-top: 20px;
    padding-left: 30px;
    background: #e6e3cf;
    height: 100%;
}

div.column{
    margin-top: 20px;
}

dd{
    color: #494980;
    margin-top: 20px;
}

img {
    border: 5px solid #494980;
}

div.com-margin{
    font-size: 10pt;
    color: #494980;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left:30px;
}

div.cb {
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
}



