
.content {
    font-family: Verdana, sans-serif; 
    font-size: 14pt;
    color: #805d40;    
    line-height: 1.5em;
}

div.content{
    padding-left: 50px;
    padding-top: 20px;
    width: 760px;
}

ul {
   list-style: square;
}

a:link {
    color: #4444bf;
}

a:visited {
    color: #8560a8;
}


div.label {
    font-weight: bold;
    padding-top: 20px;
}

table {
        padding-top: 20px;
}
