
.medical{
    font-family: Verdana;
    font-size:10pt;
    font-weight: normal;
    color: #805d40;     
}

.medical-name {
    color: #807d40;
}

/* this is for the medical staff section */
table {
    width: 540px;
    margin: 10px 70px 10px 20px;
}



th {
    text-align: left;
}

td{
    text-align: left;
    height: 30px;
    width: 160px;
}   

