{% extends "main/base.html" %}

{% block stylesheets %}<link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/community.css" />{% endblock %}
{% block subtitle %}Community{% endblock %}

{% block content-class %}community{% endblock %}

{% block content %}

        <div class="heading">Park Health offers many services to the community:</div>
        <div class="column-left">

            <div class="community-test">Yearly Health Fairs</div>

            <div class="community-test">Low Cost Breast Mammograms</div>

            <div class="community-test">March for Juvenile Diabetes</div>

        </div>

        <div class="column-right">
            <img src="{{MEDIA_URL}}/images/gallery-test.png"></img>
        </div>

        <div class="cb">&nbsp;</div>
        <div class="heading">Jamil Abraham Science Award</div>
        <div class="com-margin">In recognition of outstanding accomplishments in the Sciences<br/> To graduating class in John Adams high school</div>
{% endblock %}
        
