{% extends "main/base.html" %}

{% block stylesheets %}<link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/community.css" />{% endblock %}
{% block subtitle %}Community{% endblock %}

{% block content-class %}community{% endblock %}

{% block content %}

        <div class="community-head">Park Health offers many services to the community:</div>
        
        <div class="column">
            <dt>
                <dd>Yearly Health Fairs</dd>
                <dd>Low Cost Breast Mammograms</dd>
                <dd>March for Juvenile Diabetes</dd>
            </dt>
        </div>

        <div class="column">
            <img src="{{MEDIA_URL}}/images/gallery-test.png"></img>
        </div>

        <div class="cb">&nbsp;</div>

        <p>Jamil Abraham Science Award</p>

        <div class="com-margin">In recognition of outstanding accomplishments in the Sciences<br/> To graduating class in John Adams high school</div>
{% endblock %}
        
