{% extends "main/base.html" %}

{% block stylesheets %}<link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/bio.css" />{% endblock %}

{% block onload %}
    ddaccordion.expandone('submenuheader', 2);
{% endblock %}

{% block menu_flashvars %}
  flashvars.name_last = "{{ bio.name_last }}";
  flashvars.name_first = "{{ bio.name_first }}";
{% endblock %}

{% block subtitle %}Medical Staff Bio{% endblock %}
{% block subtitle-information %}
{{ bio.name_first }} {{ bio.name_last }}
  {% for degree in bio.get_degrees %}
    {{degree.acronym}}
    {% if forloop.last %}{% else %}, {% endif %}
  {% endfor %}
{% endblock %}

