{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>BJ Medical College, India</li>
    <li>Gujrat University, India - 1998</li>
    <li>BJ Medical College, India</li>
  </ul>

  <ul>
    <li>North Shore University Hospital, Manhasset</li>
    <li>Mount Sinai Hospital of Queens</li>
    <li>NY Methodist Hospital</li>
  </ul>
  
  <ul>
    <li>New York Hospital of Queens</li>
  </ul>

  <div class="label">Specialty</div>
  <ul>
    <li>Internal Medicine</li>
    <li>Special interest for Diabetes</li>
  </ul>

{% endblock %}
