{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>University of Pennsylvania, 1980</li>
    <li>Internal Residency and Fellowship, Montefiore Medical Center, Bronx, 1985</li>
  </ul>

  <div class="label">Board Certified</div>
  <ul>
    <li>Internal Medicine, 1983</li>
    <li>Gastroentorology, 1985</li>
  </ul>

  <p>Clinical Assistant Professor of Medicine at Albert Einstein College of Medicine</p>

  <div class="label">Affiliations</div>
  <ul>
    <li>Montefiore Medical Center, Bronx</div>
  </ul>

{% endblock %}
