{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
        <li>University of Zaragoza, 1982</li>
        <li>Westchester County Medical Center, 1986</li>
        <li>Cooper Medical Center, 1982</li>
  </ul>

  <div class="label">Specialty</div>
  <ul>
          <li>Outpatient</li>
          <li>Primary Care</li>
  </ul>
  
  <div class="label">Board Certified</div>
  <ul>
          <li>NY Medical License</li>
          <li>Pediatric Board Certified</li>
  </ul>


{% endblock %}
