{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
          <li>University of Ibadan, Nigeria</li>
          <li>University of Ibadan, Nigeria</li>
  </ul>

  <div class="label">Specialty</div>
  <ul>
          <li>Internal Medicine</li>
          <li>Long Term Care</li>
  </ul>

  <div class="label">Special Expertise</div>
  <ul>
          <li>Medical Director</li>
          <li>Skilled Nursing Facility</li>
  </ul>
  
  <div class="label">Affiliations</div>
  <ul>
          <li>Mercy Hospital, Rockville Center, NY</li>
          <li>Nassau University Medical Center, East Meadow, NY</li>
  </ul>

{% endblock %}
