{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>University of Bombay, 1963, BS</li>
    <li>Nair Hospital Dental College, 1968, BDS</li>
    <li>NYU College of Dentistry, 1980</li>
  </ul>

  <div class="label">Experience</div>
  <ul>
    <li>
       Government Dental Surgeon (Uganda)
       <ul>
         <li>Mulago Hospital, Kampala</li>
         <li>Gulu Hospital, Gulu Uganda</li>
       </ul>
    </li>
  </ul>
  
  <div class="label">Affiliations</div>
  <ul>
    <li>American Dental Association</li>
    <li>Queens County Dental Association</li>
    <li>Indian Dental Association (USA)</li>
  </ul>

  <div class="label">Specialty</div>
  <ul>
    <li>Oral Surgery</li>
    <li>Jaw Fractures</li>
    <li>Prosthetics: Full and Partical</li>
  </ul>

{% endblock %}
