{% extends "staff/medical/bio.html" %}
}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>Yeshiva University, BA</li>
    <li>New York College of Podiatric Medicine, DPM</li>
  </ul>
  
  <div class="label">Experience</div>
  <ul>
    <li>Saint Barnabas Hospital, Bronx - Primary Podiatric Medicine and Surgery</li>
    <li>Bronx VA Medical Center - Podiatric Orthopedics</li>
    <li>New York Community Hospital, Brooklyn - Podiatric Surgery</li>
  </ul>
    
  <div class="label">Specialty</div>
  <ul>
    <li>Foot and Ankle</li>
    <li>Podiatric Medicine and Surgery</li>
  </ul>
  
{% endblock %}
