{% extends "main/base.html" %}

{% block subtitle %}Contact Information{% endblock %}
        
{% block stylesheets %}<link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/contact.css" />{% endblock %}


{% block content %}
<p>For specific contact information, please see the <a href="../staff/administrative">Administrative page</a></p>
<p>To set up an appointment, please call the Front Desk at (718) 659 7166</p>

<br/>

<div class="column">

    <dl>
        <dt>Office Contact Information</dt>
        <dd>131-24 Rockaway Blvd</dd>
        <dd>Far Rockaway, NY 11420</dd>
        <dd>Tel: (718) 659 7166</dd>
        <dd>Fax: (718) 529 5930</dd>
    </dl>
</div>


<div class="column">
    <table>
            <thead>
                    <tr><th>Office Hours</th></tr>
            </thead>

            <tbody>
                <tr>
                    <td>Monday to Friday</td>
                    <td>8:00 am - 7:00 pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>8:00 am - 4:00 pm</td>
                </tr>
            </tbody>
    </table>

    <p>Please note that we are closed on Sundays and Major Holidays</p>
</div>
    

{% endblock %}
        
