{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">Goa Medical Center, 1971, MD</li>
    <li class="content">Residency completed at NYU Medical Center, 1971-1973</li>
  </ul>

  <div class="content-label">Experience</div>
  <ul class="content">
    <li class="content">Booth Memorial Medical Center, 1973-1977</li>
    <li class="content">Brooklyn Jewish Medical, 1978-1979</li>
    <li class="content">Methodist Hospital, 1979-1981</li>
  </ul>
  
  <div class="content-label">Board Certified</div>
  <ul class="content">
    <li class="content">Internal Medicine, 1977</li>
    <li class="content">Cardiology, 1981/li>
  </ul>

  <div class="content-label">Affiliations</div>
  <ul class="content">
    <li class="content">New York Hospital of Queens</li>
  </ul>

{% endblock %}
