{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>Goa Medical Center, 1971, MD</li>
    <li>Residency completed at NYU Medical Center, 1971-1973</li>
  </ul>

  <div class="label">Experience</div>
  <ul>
    <li>Booth Memorial Medical Center, 1973-1977</li>
    <li>Brooklyn Jewish Medical, 1978-1979</li>
    <li>Methodist Hospital, 1979-1981</li>
  </ul>
  
  <div class="label">Board Certified</div>
  <ul>
    <li>Internal Medicine, 1977</li>
    <li>Cardiology, 1981/li>
  </ul>

  <div class="label">Affiliations</div>
  <ul>
    <li>New York Hospital of Queens</li>
  </ul>

{% endblock %}
