{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">BJ Medical College, India</li>
    <li class="content">Gujrat University, India - 1998</li>
    <li class="content">BJ Medical College, India</li>
  </ul>

  <ul class="content">
    <li class="content">North Shore University Hospital, Manhasset</li>
    <li class="content">Mount Sinai Hospital of Queens</li>
    <li class="content">NY Methodist Hospital</li>
  </ul>
  
  <ul class="content">
    <li class="content">New York Hospital of Queens</li>
  </ul>

  <div class="content-label">Specialty</div>
  <ul class="content">
    <li class="content">Internal Medicine</li>
    <li class="content">Special interest for Diabetes</li>
  </ul>

{% endblock %}
