{% extends "staff/medical/bio.html" %}

{% block content %}



  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">Cornell University, 1971, BA</li>
    <li class="content">NYU School of Medicine, 1975, MD</li>
  </ul>

  <div class="content-label">Experience</div>
  <ul class="content">
    <li class="content">Neurology Residency NYU Medical Center 1976-1979</li>
  </ul>

  <div class="content-label">Board Certified Neurologist</div>
  
  <div class="content-label">Affiliations</div>
  <ul class="content">
    <li class="content">Parkway</li>
    <li class="content">Long Island Jewish</li>
  </ul>

  <p class="content">Co-Chairman NFL Commitee on Mild Traumatic Brain Injury</p>

  <div class="content-label">Neurology Consultant For</div>
  <ul class="content">
    <li class="content">New York Jets Football Team</li>
    <li class="content">New York Islanders Hockey Team</li>
  </ul>

  <p class="content">Numerous Medical Publications on Concussions in Football and Boxing</p>

{% endblock %}
