{% extends "staff/medical/bio.html" %}

{% block content %}



    <div class="label">Education</div>
    <ul>
        <li>Cornell University, 1971, BA</li>
        <li>NYU School of Medicine, 1975, MD</li>
    </ul>

    <div class="label">Experience</div>
    <ul>
        <li>Neurology Residency NYU Medical Center 1976-1979</li>
    </ul>

    <div class="label">Board Certified</div>
    <ul>
        <li>Neurologist, INSERT-DATE-HERE</li>
    </ul>
  
    <div class="label">Affiliations</div>
    <ul>
        <li>Parkway</li>
        <li>Long Island Jewish</li>
    </ul>

    <div>Co-Chairman NFL Commitee on Mild Traumatic Brain Injury</div>

    <div class="label">Neurology Consultant For</div>
    <ul>
        <li>New York Jets Football Team</li>
        <li>New York Islanders Hockey Team</li>
    </ul>

    <div>Numerous Medical Publications on Concussions in Football and Boxing</div>

{% endblock %}
