{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>Yonsei University College of Medicine</li>
  </ul>

  <div class="label">Board Certified</div>
  <ul>
    <li>Diplomate, American Board of Internal Medicine</li>
    <li>Diplomate, American Board of Cardiovascular Medicine</li>
    <li>Diplomate, Certification Board of Nuclear Cardiology</li>
  </ul>

  <div class="label">Affiliations</div>
  <ul>
    <li>NY Methodist Hospital</li>
  </ul>

  <div class="label">Specialty</div>
  <ul>
    <li>Internal Medicine</li>
    <li>Cardiovascular Disease</li>
  </ul>
  
{% endblock %}
