{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">Yonsei University College of Medicine</li>
  </ul>

  <div class="content-label">Board Certified</div>
  <ul class="content">
    <li class="content">Diplomate, American Board of Internal Medicine</li>
    <li class="content">Diplomate, American Board of Cardiovascular Medicine</li>
    <li class="content">Diplomate, Certification Board of Nuclear Cardiology</li>
  </ul>

  <div class="content-label">Affiliations</div>
  <ul class="content">
    <li class="content">NY Methodist Hospital</li>
  </ul>

  <div class="content-label">Specialty</div>
  <ul class="content">
    <li class="content">Internal Medicine</li>
    <li class="content">Cardiovascular Disease</li>
  </ul>
  
{% endblock %}
