{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="label">Education</div>
  <ul>
    <li>Howard University College of Medicine, 1995</li>
    <li>Wyckoff Heights Medical Center, Family Practice Residency Program, 1996-1998</li>
  </ul>
  
  <div class="label">Board Certified</div>
  <ul>
    <li>Diplomate, American Board of Family Practice</li>
  </ul>

  <div class="label">Affiliations</div>
  <ul>
    <li>New Parkway Hospital</li>
  </ul>

  <p>Member of Medical Society of the County of Queens</p>
  <p>Certified with NY State Workers Compensation Board</p>
{% endblock %}
