{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">Howard University College of Medicine, 1995</li>
    <li class="content">Wyckoff Heights Medical Center, Family Practice Residency Program, 1996-1998</li>
  </ul>
  
  <div class="content-label">Board Certified</div>
  <ul class="content">
    <li class="content">Diplomate, American Board of Family Practice</li>
  </ul>

  <div class="content-label">Affiliations</div>
  <ul class="content">
    <li class="content">New Parkway Hospital</li>
  </ul>

  <p class="content">Member of Medical Society of the County of Queens</p>
  <p class="content">Certified with NY State Workers Compensation Board</p>
{% endblock %}
