{% extends "staff/medical/bio.html" %}

{% block content %}

  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">University of Bombay, 1963, BS</li>
    <li class="content">Nair Hospital Dental College, 1968, BDS</li>
    <li class="content">NYU College of Dentistry, 1980</li>
  </ul>

  <div class="content-label">Experience</div>
  <ul class="content">
    <li class="content">
       Government Dental Surgeon (Uganda)
       <ul>
         <li>Mulago Hospital, Kampala</li>
         <li>Gulu Hospital, Gulu Uganda</li>
       </ul>
    </li>
  </ul>
  
  <div class="content-label">Affiliations</div>
  <ul class="content">
    <li class="content">American Dental Association</li>
    <li class="content">Queens County Dental Association</li>
    <li class="content">Indian Dental Association (USA)</li>
  </ul>

  <div class="content-label">Specialty</div>
  <ul class="content">
    <li class="content">Oral Surgery</li>
    <li class="content">Jaw Fractures</li>
    <li class="content">Prosthetics: Full and Partical</li>
  </ul>

{% endblock %}
