{% extends "staff/medical/bio.html" %}
}

{% block content %}

  <div class="content-label">Education</div>
  <ul class="content">
    <li class="content">Yeshiva University, BA</li>
    <li class="content">New York College of Podiatric Medicine, DPM</li>
  </ul>
  
  <div class="content-label">Experience</div>
  <ul class="content">
    <li class="content">Saint Barnabas Hospital, Bronx - Primary Podiatric Medicine and Surgery</li>
    <li class="content">Bronx VA Medical Center - Podiatric Orthopedics</li>
    <li class="content">New York Community Hospital, Brooklyn - Podiatric Surgery</li>
  </ul>
    
  <div class="content-label">Specialty</div>
  <ul class="content">
    <li class="content">Foot and Ankle</li>
    <li class="content">Podiatric Medicine and Surgery</li>
  </ul>
  
{% endblock %}
