{% extends "department/dept.html" %}

{% block content %}
<p> 
	Acupuncture is a technique of inserting and manipulating fine filliform needles into specific points on the body with the aim of relieving pain and for therapeutic purposes.
</p>

<p>
	In particular, acupuncture can assist you with pain management.  Weight control, and addictions of all sorts.
</p>
  
<dl class="content">
  <dt class="content">Pain Management</dt>
  <dd class="content">Without the use of drugs, we can help you deal with pain in your neck, back, hip, knee, ankle, and other.</dd>
  
  <dt class="content">Weight Control</dt>
  <dd class="content">The difference between our weight control program versus that of conventional diet pills is that when you are finished, you will not gain back the weight</dd>
  <dd class="content">This is because we treat the root of the problem, not just the craving for food.  But the issues of anxiety, self esteem, and compulsive desires that lead to the craving in the first place.</dd>
  <dd class="content">We will place you on a diet and exercise program suited to your needs.</dd>

  <dt class="content">Addiction</dt>
  <dd class="content">Smoking, Alcoholism, and other Substance Abuse disorders can be treated.  By calming the patient and helping them break free of compulsions and anxieties.</dd>
  <dd class="content">We can help you take control of your life and move to the future.</dd>
  </dl>
{% endblock %}
