{% extends "department/dept.html" %}

{% block content %}

  <p>A Family Physician provides medical care throughout the life of the patient from infancy on.</p>

  <p>Because he is intimately familiar with a patients' history, he can give the best possible advice on what medical care is needed.  Details which a specialist might not be aware of, are well known by the Family Care physician.</p>

  <div class="content-label">Among the many things a family physician provides:</div>
  <ul class="content">
    <li>Careful review and renewal of existing treatment programs.</li>
    <li>Initial evaluation of all injuries, including diagnostic studies such as X-Rays, MRIs, initiation of physical therapy, and pain management</li>
    <li>Subsequent follow up, and specialty referall when appropriate.</li>
  </ul>
  
  <div class="column">
    <dl>
        <dt>Children</dt>
        <dd>Vaccinations</dd>
        <dd>Screening for developmental problems</dd>
        <dd>Medical guidance for healthy living</dd>
    </dl>
  </div>

  <div class="column">
    <dl>
        <dt>Womens Health</dt>
        <dd>Breast Exam</dd>
        <dd>Pelvic Exam, Pap Smear</dd>
    </dl>
  </div>
  <div class="cb">&nbsp;</div>


  <div class="column">
    <dl>
        <dt>Adolescent</dt>
        <dd>Advice with obesity, healthy dieting</dd>
        <dd>Counseling on sexually transmitted diseases</dd>
        <dd>Counseling on drug and alcohol abuse</dd>
    </dl>
  </div>

  <div class="column">
    <dl>
        <dt>Adults</dt>
        <dd>Prostate Cancer screening</dd>
        <dd>Colon Cancer screening</dd>
        <dd>Assessment of risks for Heart Disease, Stroke and Diabetes</dd>
    </dl>
  </div>
{% endblock %}
