{% extends "department/dept.html" %}

{% block content %}
    <p>Internal Medicine is responsible for the general medical problems and total health of adult patients</p>

    <p>Patients should make it a point to regularly come in for their Yearly Physicals and Flu Injections</p>

    <div class="column">
    <dl>
        <dt>Problems Routinely Diagnosed and Treated by Internal Medicine</dt>
        <dd>Arthritis</dd>
        <dd>Diabetes</dd>
        <dd>Heart Problems</dd>
        <dd>High Cholesterol</dd>
        <dd>Hypertension</dd>
        <dd>Stomach Problems</dd>
</div>

    <div class="column">
    <dl>
        <dt>Complete Bloodwork</dt>
        <dd>CBC (Complete Blood Count)</dd>
        <dd>CMP (Complete Metabolic Profile)</dd>
        <dd>Lipid Profile (Serum Cholesterol)</dd>
    </dl>
</div>

<div class="cb">&nbsp;</div>

{% endblock %}
