{% extends "department/dept.html" %}

{% block content %}
    <p>Preventative health care can be the most effective care we provide. We follow the American Academy of Pediatrics’ well-child exam schedule.</p>

    <p>To insure that our patients do not become unnecessarily exposed to contagious diseases when visiting the doctor, the well-child care clinic has a separate waiting area and exam rooms.</p>

    <ul>
        <li>Immunizations</li>
        <li>Sports Physicals</li>
        <li>Well Child Check-ups</li>
    </ul>
{% endblock %}
