{% extends "department/dept.html" %}

{% block subtitle-information %}
Dr. <a href="{{BASE_URL}}/staff/medical/yakov_beim">Yakov Beim</a>, DPM
{% endblock %}

{% block content %}

<dl class="content">
	<dt class="content">General Treatment</dt>
	<dd class="content">Ankle Sprains</dd>
	<dd class="content">Bunions and Hammer Toes</dd>
	<dd class="content">Diabetic Foot Care</dd>
	<dd class="content">Fungus Toenails</dd>
	<dd class="content">Ingrown Toenails</dd>
	<dd class="content">Heel and Arch pain</dd>
	<dd class="content">Numbness or Tingling</dd>
	
	<dt class="content">Wound Care and other Injuries treated</dt>
</dl>
  
{% endblock %}
