{% extends "department/dept.html" %}

{% block content %}

  <div class="cb">&nbsp;</div>

  <div class="column">
    <dl>
        <dt>General Services</dt>
        <dd>Trauma</dd>
        <dd>Anxiety</dd>
        <dd>Depression</dd>
        <dd>Substance Abuse</dd>
        <dd>Geriatric Psychotherapy</dd>

        <dt>Forensic Psychology</dt>
        <dd>Competency Evaluations</dd>
        <dd>Post Jail Rehabilitative Therapy</dd>
    </dl>
  </div>

  <div class="column">
    <dl>
        <dt>Psychological Evaluations</dt>
        <dd>Intelligence</dd>
        <dd>Personality</dd>
        <dd>Neuropsychological</dd>
        <dd>Dementia</dd>
        <dd>Alzheimers</dd>
        <dd>Memory Functions</dd>
        <dd>Cognitive Functioning</dd>
        <dd>Return to Work</dd>
    </dl>
  </div>

  <div class="cb">&nbsp;</div>
  
  <p>Referrals made to rehabilitation centers, such as NYU RUSK, VESID, FEGS, Center for Autims and Related Diseases, and other appropriate facilities</p>
  
{% endblock %}
