{% extends "main/base.html" %}

{% block subtitle %}About Us{% endblock %}


{% block content %}

The facility was started by Doctor Jamil Abraham (A British trained physician) in 1967. We have specialists in every field of medicine including, Cardiology, Internal Medicine, Pediatrics, Podiatry, Neurology, Gynecology, and Imaging, etc. (see departments). All physicians are board certified in their various specialties, and some are fellows of the respective academies.<br/>

We are well established in the our community for our dedicated services for about half a century.<br/>

The facility also include physiotherapy and physical rehabilitation section to handle all cases of trauma.<br/>

We accept all major medical insurences, workers compensation cases and automobile accidents.<br/>

{% endblock %}
        
