<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Park Health Medical Center</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
        <link rel="shortcut icon" href="{{MEDIA_URL}}/images/logo.ico"/>

        <link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/base.css" />
        <link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/menu.css" />
        <link rel="stylesheet" text="text/css" href="{{MEDIA_URL}}/css/sifr.css" />
        {% block stylesheets %}{% endblock %}

        <script type="text/javascript" src="{{MEDIA_URL}}/js/sifr.js" ></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/sifr-config.js"></script>

        <script type="text/javascript" src="{{MEDIA_URL}}/js/ddaccordion.js" ></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js" ></script>

        <script type="text/javascript">


            ddaccordion.init({

	            headerclass: "submenuheader",       //Shared CSS class name of headers group
	            contentclass: "submenu",            //Shared CSS class name of contents group

                revealtype: "click",            // Reveal content when user clicks or onmouseover the header? 
                                                // Valid value: "click", "clickgo", or "mouseover"
                    
                mouseoverdelay: 200,            // if revealtype="mouseover", set delay in milliseconds 
                                                // before header expands onMouseover

                collapseprev: true,             // Collapse previous content (so only one open at any time)? true/false 

                defaultexpanded: [],            // index of content(s) open by default [index1, index2, etc] [] 
                                                // denotes no content

                onemustopen: false,             // Specify whether at least one header should be open always 
                                                // (so never all headers closed)

                animatedefault: false,          //Should contents open by default be animated into view?
                persiststate: true,             //persist state of opened contents within browser session?
                
                toggleclass: ["", ""],          // Two CSS classes to be applied to the header when it's collapsed 
                                                // and expanded, respectively ["class1", "class2"]

                /*
                    Additional HTML added to the header when it's collapsed and expanded, 
                    respectively  ["position", "html1", "html2"] (see docs)
                */
                togglehtml: ["suffix", 
                                "<img src='{{MEDIA_URL}}/images/collapse.png' class='statusicon' />", 
                                "<img src='{{MEDIA_URL}}/images/open.png' class='statusicon' />"], 

                
                animatespeed: "normal",           // speed of animation: integer in milliseconds (ie: 200), or 
                                                // keywords "fast", "normal", or "slow"

                oninit:function(headers, expandedindices){      //custom code to run when headers have initalized
                    //do nothing
                },
                
                //custom code to run whenever a header is opened or closed
	            onopenclose:function(header, index, state, isuseractivated){   
		            //do nothing
	            }
            })
        </script>

        <script type="text/javascript">
            $(document).ready( function() {
                    $(document).ready( function() {
                        {% block onload %}{% endblock %}
                    });
             });
        </script>

    </head>

    <body>
        {{ MENU }}            

        <div class="header">
            <div class="title">{% block title %}Park Health Center{% endblock %}</div>
            <div class="subtitle">{% block subtitle %}{% endblock %}</div>
            <div class="subtitle-information">{% block subtitle-information %}{% endblock %}</div>
        </div>

        <div class="{% block content-class %}content{% endblock %}">{% block content %}{% endblock %}</div>

    </body>
</html>
        
