<?xml version='1.0' encoding='UTF-8'?>

<component name='Accordion Tree Menu v3'>
    <data>
        <main childStyle="level1_style">
            <item title="Home" {% ifnotequal section "home" %}url="{{BASE_URL}}/" target="_self"{% endifnotequal %} />

            <item title="Departments" childStyle="level2_style">
                {% for s in specialties %}
                <item title="{{ s.name }}" {% ifnotequal s.handle subsection %}url="{{BASE_URL}}/dept/{{ s.handle }}/" target="_self"{% endifnotequal %} />
                {% endfor %}
            </item>
            
            <item title="Community" childStyle="level2_style">
                <item title="News" {% ifnotequal subsection "news" %}url="{{BASE_URL}}/community/news" target="_self"{% endifnotequal %} /> 
                <!--<item title="Photo Gallery" {% ifnotequal subsection "gallery" %}url="{{BASE_URL}}/community/gallery" target="_self"{% endifnotequal %} />-->
            </item>

            <item title="Insurance" {% ifnotequal section "insurance" %}url="{{BASE_URL}}/insurance/" target="_self"{% endifnotequal %} />

            <item title="Staff" childStyle="level2_style">

                <item title="Medical" {% ifnotequal section "medical" %}url="{{BASE_URL}}/staff/medical/" target="_self"{% endifnotequal %} childStyle="level3_style">
                    {% ifequal section "bio" %}
                    {% ifequal subsection "medical" %}
                    <item title="{{ bio }}"/>
                    {% endifequal %}
                    {% endifequal %}
                </item>

                <item title="Administrative" {% ifnotequal section "administrative" %}url="{{BASE_URL}}/staff/administrative/" target="_self"{% endifnotequal %} childStyle="level3_style" />

            </item>

            <item title="Contact" {% ifnotequal section "contact" %}url="{{BASE_URL}}/contact/" target="_self"{% endifnotequal %}/>
            <item title="Directions" {% ifnotequal section "directions" %}url="{{BASE_URL}}/directions/" target="_self"{% endifnotequal %} />
            <item title="About Us" {% ifnotequal section "about" %}url="{{BASE_URL}}/about/" target="_self"{% endifnotequal %} />
        </main>
    </data>
  
    <styles>
        <level1_style>
          <folderCollapsedIconId>ATM_BlueF1_style1_collapsed_icon</folderCollapsedIconId>
          <folderExpandedIconId>ATM_BlueF1_style1_expanded_icon</folderExpandedIconId>
          <spacing>5</spacing>
          <itemNextSpacing>1</itemNextSpacing>
          <textFormat>
	    <font>Trajan Pro</font>
	    <size>18</size>
	    <color>0xd2d2e6</color>
	    <underline>false</underline>
          </textFormat>
          <states>
	    <up>
	      <mcLinkageId>ATM_BlueF1_style1_false_up</mcLinkageId>
	    </up>
	    <over>
	      <mcLinkageId>ATM_BlueF1_style1_false_over</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e4cf</color>
	        <underline>true</underline>
	      </textFormat>
	    </over>
	    <down>
	      <mcLinkageId>ATM_BlueF1_style1_false_down</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </down>
	    <selected>
	      <mcLinkageId>ATM_BlueF1_style1_false_selected</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </selected>
	    <expanded_up>
	      <mcLinkageId>ATM_BlueF1_style1_true_up</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </expanded_up>
	    <expanded_over>
	      <mcLinkageId>ATM_BlueF1_style1_true_over</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e4cf</color>
	        <underline>false</underline>
	      </textFormat>
	    </expanded_over>
	    <expanded_down>
	      <mcLinkageId>ATM_BlueF1_style1_true_down</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </expanded_down>
	    <expanded_selected>
	      <mcLinkageId>ATM_BlueF1_style1_true_selected</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>18</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>	
	    </expanded_selected>
	    <disabled>
	      <textFormat>
	        <color>0x666666</color>
	      </textFormat>
	      <mcLinkageId>ATM_BlueF1_style1_false_disabled</mcLinkageId>
	    </disabled>
          </states>
        </level1_style>
        
        <level2_style>
          <folderCollapsedIconId>ATM_BlueF1_style1_collapsed_icon</folderCollapsedIconId>
          <folderExpandedIconId>ATM_BlueF1_style1_expanded_icon</folderExpandedIconId>
          <spacing>3</spacing>
          <itemNextSpacing>1</itemNextSpacing>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xd2d2e4</color>
	        <underline>false</underline>
	      </textFormat>
          <states>
	    <up>
	      <mcLinkageId>ATM_BlueF1_style2_false_up</mcLinkageId>
	    </up>
	    <over>
	      <mcLinkageId>ATM_BlueF1_style2_false_over</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e4cf</color>
	        <underline>true</underline>
	      </textFormat>
	    </over>
	    <down>
	      <mcLinkageId>ATM_BlueF1_style2_false_over</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </down>
	    <selected>
	      <mcLinkageId>ATM_BlueF1_style2_false_selected</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </selected>
	    <expanded_up>
	      <mcLinkageId>ATM_BlueF1_style2_true_up</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </expanded_up>
	    <expanded_over>
	      <mcLinkageId>ATM_BlueF1_style2_true_over</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e4cf</color>
	        <underline>false</underline>
	      </textFormat>
	    </expanded_over>
	    <expanded_down>
	      <mcLinkageId>ATM_BlueF1_style2_true_down</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>
	    </expanded_down>
	    <expanded_selected>
	      <mcLinkageId>ATM_BlueF1_style2_true_selected</mcLinkageId>
	      <textFormat>
	        <font>Trajan Pro</font>
	        <size>14</size>
	        <color>0xe6e073</color>
	        <underline>false</underline>
	      </textFormat>	
	    </expanded_selected>
	    <disabled>
	      <mcLinkageId>ATM_BlueF1_style2_false_disabled</mcLinkageId>
	    </disabled>
          </states>
        </level2_style>
        
        <level3_style>
          <folderCollapsedIconId>ATM_BlueF1_style1_collapsed_icon</folderCollapsedIconId>
          <folderExpandedIconId>ATM_BlueF1_style1_expanded_icon</folderExpandedIconId>
          <spacing>3</spacing>
          <itemNextSpacing>1</itemNextSpacing>
          <textFormat>
	    <font>Trajan Pro</font>
	    <size>12</size>
	    <bold>true</bold>
	    <color>0xe6e073</color>
          </textFormat>
          <states>
	    <up>
	      <mcLinkageId>ATM_BlueF1_style3_false_up</mcLinkageId>
	    </up>
	    <over>
	      <mcLinkageId>ATM_BlueF1_style3_false_over</mcLinkageId>
	    </over>
	    <down>
	      <mcLinkageId>ATM_BlueF1_style3_false_over</mcLinkageId>
	    </down>
	    <selected>
	      <mcLinkageId>ATM_BlueF1_style3_false_selected</mcLinkageId>
	    </selected>
	    <expanded_up>
	      <mcLinkageId>ATM_BlueF1_style3_true_up</mcLinkageId>
	    </expanded_up>
	    <expanded_over>
	      <mcLinkageId>ATM_BlueF1_style3_true_over</mcLinkageId>
	    </expanded_over>
	    <expanded_down>
	      <mcLinkageId>ATM_BlueF1_style3_true_down</mcLinkageId>
	    </expanded_down>
	    <expanded_selected>
	      <mcLinkageId>ATM_BlueF1_style3_true_selected</mcLinkageId>
	    </expanded_selected>
	    <disabled>
	      <textFormat>
	        <color>0x666666</color>
	      </textFormat>
	      <mcLinkageId>ATM_BlueF1_style3_false_disabled</mcLinkageId>
	    </disabled>
          </states>
        </level3_style>
    </styles>
</component>
