    <div class="parkmenu">
        {% ifnotequal section "home" %}
        <a class="menuitem" href="{{BASE_URL}}/">Home</a>
        {% else %}
        <div class="menuitem">Home</div>
        {% endifnotequal %}

        {% ifnotequal section "dept" %}
        <a class="menuitem submenuheader">Departments</a>
        {% else %}
        <a class="menuitem submenuheader"><div class="submenu-selected">Departments</div></a>
        {% endifnotequal %}
        <div class="submenu">
            <ul>
                {% for s in specialties %}
                {% ifnotequal s.handle subsection %}
                <li><a href="{{BASE_URL}}/dept/{{s.handle}}/">{{s.name}}</a></li>
                {% else %}
                <li>{{s.name}}</li>
                {% endifnotequal %}
                {% endfor %}
            </ul>
        </div>

        {% ifnotequal section "community" %}
        <a class="menuitem submenuheader">Community</a>
        {% else %}
        <a class="menuitem submenuheader"><div class="submenu-selected">Community</div></a>
        {% endifnotequal %}
        <div class="submenu">
            <ul>
                {% ifnotequal subsection "news" %}
                <li><a href="{{BASE_URL}}/community/news/">News</a></li>
                {% else %}
                <li>News</li>
                {% endifnotequal %}
            </ul>
        </div>

        {% ifnotequal section "insurance" %}
        <a class="menuitem" href="{{BASE_URL}}/insurance/">Insurance</a>
        {% else %}
        <a class="menuitem"><div class="submenu-selected">Insurance</div></a>
        {% endifnotequal %}

        <a class="menuitem submenuheader">Staff</a>
        <div class="submenu">
            <ul>
                <li>
                {% ifnotequal section "medical" %}
                <a href="{{BASE_URL}}/staff/medical/">Medical</a>
                {% endifnotequal %}

                    {% ifequal section "medical" %} 
                    {% ifequal subsection "bio" %}
                    <a href="{{BASE_URL}}/staff/medical/"><div class="submenu-selected">Medical</div></a>
                    <ul><li>{{ bio }}</li></ul>
                    {% else %}
                    Medical
                    {% endifequal %}
                    {% endifequal %}
                </li>
                
                <li>{% ifnotequal section "administrative" %}<a href="{{BASE_URL}}/staff/administrative/">Administrative</a>
                {% else %}Administrative{% endifnotequal %}</li>
            </ul>
        </div>

        {% ifnotequal section "contact" %}
        <a class="menuitem" href="{{BASE_URL}}/contact/">Contact</a>
        {% else %}
        <a class="menuitem"><div class="submenu-selected">Contact</div></a>
        {% endifnotequal %}

        {% ifnotequal section "directions" %}
        <a class="menuitem" href="{{BASE_URL}}/directions/">Directions</a>
        {% else %}
        <a class="menuitem"><div class="submenu-selected">Directions</div></a>
        {% endifnotequal %}

        {% ifnotequal section "about" %}
        <a class="menuitem" href="{{BASE_URL}}/about/">About</a>
        {% else %}
        <a class="menuitem"><div class="submenu-selected">About</div></a>
        {% endifnotequal %}
    </div>

