{% extends "department/dept.html" %}

{% block content %}
<p> 
	Acupuncture is a technique of inserting and manipulating fine filliform needles into specific points on the body with the aim of relieving pain and for therapeutic purposes.
</p>

<p>
	In particular, acupuncture can assist you with pain management.  Weight control, and addictions of all sorts.
</p>
  
  <div class="cb">&nbsp;</div>
  <div class="content-label">Pain Management</div>
  <div class="content-def">Without the use of drugs, we can help you deal with pain in your neck, back, hip, knee, ankle, and other.</div>
  
  <div class="cb">&nbsp;</div>
  <div class="content-label">Weight Control</div>
  <div class="content-def">The difference between our weight control program versus that of conventional diet pills is that when you are finished, you will not gain back the weight</div>
  <div class="content-def">This is because we treat the root of the problem, not just the craving for food.  But the issues of anxiety, self esteem, and compulsive desires that lead to the craving in the first place.</div>
  <div class="content-def">We will place you on a diet and exercise program suited to your needs.</div>

  <div class="cb">&nbsp;</div>
  <div class="content-label">Addiction</div>
  <div class="content-def">Smoking, Alcoholism, and other Substance Abuse disorders can be treated.  By calming the patient and helping them break free of compulsions and anxieties.</div>
  <div class="content-def">We can help you take control of your life and move to the future.</div>
{% endblock %}
