{% extends "department/dept.html" %}

{% block content %}

    <dl class="content">
        <dt class="content">Non Invasive Cardiology</dt>
        <dd class="content">EKG</dd>
        <dd class="content">Echocardiography</dd>
        <dd class="content">Halter Monitor</dd>
        <dd class="content">Stress Thaddum</dd>  
        <dd class="content">Nuclear Cardiology</dd>
    </dl>

    <dl class="content">
        <dt class="content">Cardiovascular Services</dt>
        <dd class="content">Carotid Duplex</dd>
        <dd class="content">Lower Extremity Arterial Doppler</dd>
        <dd class="content">Lower Extremity Venous Duplex</dd>
        <dd class="content">Aortic Abdominal Aneurysm</dd>
        <dd class="content">Renal Artery Stenosis</dd>
    </dl>
  
{% endblock %}
