{% extends "department/dept.html" %}

{% block content %}
  <div class="content-label">Non Invasive Cardiology</div>
  <ul class="content">
    <li>EKG</li>
    <li>Echocardiography</li>
    <li>Halter Monitor</li>
    <li>Stress Thalium</li>  
    <li>Nuclear Cardiology</li>
  </ul>
  
  <div class="content-label">Cardiovascular Services</div>
  <ul class="content">
    <li>Carotid Duplex</li>
    <li>Lower Extremity Arterial Doppler</li>
    <li>Lower Extremity Venous Duplex</li>
    <li>Aortic Abdominal Aneurysm</li>
    <li>Renal Artery Stenosis</li>
  </ul>
  
{% endblock %}
