{% extends "department/dept.html" %}

{% block content %}
  
<dl class="content">
    <dt class="content">Restorative Dentistry</dt>
    <dd class="content">Amalgam and Composite Fillings</dd>
    <dd class="content">Porcelain Veneers and Crowns</dd>
    <dd class="content">Full cast Metal Crowns in Precious, Non-Precious and Semi-Precious materials</dd>
      
    <dt class="content">Endodontics</dt>
    <dd class="content">Root Canal Therapy</dd>
    
    <dt class="content">Oral Surgery</dt>
    <dd class="content">Extractions, including Semi-Impacted teeth and Root Tips</dd>
      
    <dt class="content">Prosthodontics</dt>
    <dd class="content">Full Dentures</dd>
    <dd class="content">Partial Denutres including - Acrylic, Metal Base, and Flexi-Partials</dd>
    <dd class="content">Porcelain Fixed Bridges</dd>
      
    <dt class="content">Periodontics</dt>
    <dd class="content">Treatment of Gum Disease, including Cleaning</dd>
    <dd class="content">Dental Prophylaxis</dd>
    <dd class="content">Minor Periodontal Surgery</dd>
</dl>
{% endblock %}
