{% extends "department/dept.html" %}

{% block content %}
  
  <div class="content-label">Restorative Dentistry</div>
  <ul class="content">
    <li>Amalgam and Composite Fillings</li>
    <li>Porcelain Veneers and Crowns</li>
    <li>Full cast Metal Crowns in Precious, Non-Precious and Semi-Precious materials</li>
  </ul>
  
  <div class="content-label">Endodontics</div>
  <div class="content-def">Root Canal Therapy</div>

  <div class="content-label">Oral Surgery</div>
  <div class="content-def">Extractions, including Semi-Impacted teeth and Root Tips</div>
  
  <div class="content-label">Prosthodontics</div>
  <div class="content-def">Full Dentures</div>
  <div class="content-def">Partial Denutres including - Acrylic, Metal Base, and Flexi-Partials</div>
  <div class="content-def">Porcelain Fixed Bridges</div>
  
  <div class="content-label">Periodontics</div>
  <div class="content-def">Treatment of Gum Disease, including Cleaning</div>
  <div class="content-def">Dental Prophylaxis</div>
  <div class="content-def">Minor Periodontal Surgery</div>
{% endblock %}
