{% extends "department/dept.html" %}

{% block content %}

  <p class="content">Gastroentorologists specialize in diagnosing and treating problems with the Bowels:</a>
  
  <div class="cb">&nbsp;</div>

  <div class="blk-lbl-lft">Common Diseases and Illnesses Treated</div>
  <div class="blk-lbl-rgt">Common Symptoms Include</div>
  <div class="cb">&nbsp;</div>

  <div class="blk-def-lft">
    Colitis<br/>
    Esophageal Disease<br/>
    Gastroesophageal Reflux<br/>
    Gastrointestinal Bleeding<br/>
    Hemorhoid Detection and Treatment<br/>
    Inflammatory Bowel Disease<br/>
    Malabsorption and Malnutrition<br/>
    Peptic Ulcer Disease<br/>
    Viral Hepatitis B &amp; C detection<br/>
  </div>

  <div class="blk-def-rgt">
    Abdominal Pain<br/>
    Chest Pain<br/>
    Constipation<br/>
    Diarrhea<br/>
    Heartburn<br/>
    Jaundice<br/>
    Nervous Stomach<br/>
    Ulcers<br/>
  </div>
  <div class="cb">&nbsp;</div>

  <div class="content-label">Testing</div>
  <div class="content-def">
    Cancer Screening for the Colon, Stomach, and Esophagus<br/>
    Colonoscopy<br/>
    Diagnostic and Therapeutic Endoscopy
  </div>
{% endblock %}
