{% extends "department/dept.html" %}

{% block content %}

  <p>Gastroentorologists specialize in diagnosing and treating problems with the Bowels.</a>
  

  <div class="column">
    <dl>
        <dt>Common Diseases and Illnesses Treated</dt>
        <dd>Colitis</dd>
        <dd>Esophageal Disease</dd>
        <dd>Gastroesophageal Reflux</dd>
        <dd>Gastrointestinal Bleeding</dd>
        <dd>Hemorhoid Detection and Treatment</dd>
        <dd>Inflammatory Bowel Disease</dd>
        <dd>Malabsorption and Malnutrition</dd>
        <dd>Peptic Ulcer Disease</dd>
        <dd>Viral Hepatitis B &amp; C detection</dd>
    </dl>
  </div>

  <div class="column">
    <dl>
        <dt>Common Symptoms Include</dd>
        <dd>Abdominal Pain</dd>
        <dd>Chest Pain</dd>
        <dd>Constipation</dd>
        <dd>Diarrhea</dd>
        <dd>Heartburn</dd>
        <dd>Jaundice</dd>
        <dd>Nervous Stomach</dd>
        <dd>Ulcers</dd>
    </dl>
  </div>
  <div class="cb">&nbsp;</div>

  <dl>
    <dt>Testing</dt>
    <dd>Cancer Screening for the Colon, Stomach, and Esophagus</dd>
    <dd>Colonoscopy</dd>
    <dd>Diagnostic and Therapeutic Endoscopy</dd>
  </dl>
{% endblock %}
