{% extends "department/dept.html" %}

{% block content %}

  <p>Gastroentorologists specialize in diagnosing and treating problems with the Bowels.</a>
  

  <div class="column">
    <dl class="content">
        <dt class="content">Common Diseases and Illnesses Treated</dt>
        <dd class="content">Colitis</dd>
        <dd class="content">Esophageal Disease</dd>
        <dd class="content">Gastroesophageal Reflux</dd>
        <dd class="content">Gastrointestinal Bleeding</dd>
        <dd class="content">Hemorhoid Detection and Treatment</dd>
        <dd class="content">Inflammatory Bowel Disease</dd>
        <dd class="content">Malabsorption and Malnutrition</dd>
        <dd class="content">Peptic Ulcer Disease</dd>
        <dd class="content">Viral Hepatitis B &amp; C detection</dd>
    </dl>
  </div>

  <div class="column">
    <dl class="content">
        <dt class="content">Common Symptoms Include</dd>
        <dd class="content">Abdominal Pain</dd>
        <dd class="content">Chest Pain</dd>
        <dd class="content">Constipation</dd>
        <dd class="content">Diarrhea</dd>
        <dd class="content">Heartburn</dd>
        <dd class="content">Jaundice</dd>
        <dd class="content">Nervous Stomach</dd>
        <dd class="content">Ulcers</dd>
    </dl>
  </div>
  <div class="cb">&nbsp;</div>

  <dl class="content">
    <dt class="content">Testing</dt>
    <dd class="content">Cancer Screening for the Colon, Stomach, and Esophagus</dd>
    <dd class="content">Colonoscopy</dd>
    <dd class="content">Diagnostic and Therapeutic Endoscopy</dd>
  </dl>
{% endblock %}
