{% extends "department/dept.html" %}

{% block content %}

    <dl class="content">
        <dt class="content">General Tests Provided</dt>
        <dd class="content">Pap Smear</dd>
        <dd class="content">Breast Exam / Mammography</dd>
        <dd class="content">Bone Density / Osteoperosis</dd>
        <dd class="content">Post-Menopausal Syndrome</dd>
    </dl>

    <dl class="content">
        <dt class="content">General Testing For Cancer</dt>
        <dd class="content">Breast</dd>
        <dd class="content">Cervical</dd>
        <dd class="content">Uterine</dd>
        <dd class="content">Ovarian</dd>
    </dl>

  <p class="content">HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
