{% extends "department/dept.html" %}

{% block content %}

    <div class="column">
        <dl>
            <dt>General Tests Provided</dt>
            <dd>Pap Smear</dd>
            <dd>Breast Exam / Mammography</dd>
            <dd>Bone Density / Osteoperosis</dd>
            <dd>Post-Menopausal Syndrome</dd>
        </dl>
    </div>
    
    <div class="column">
        <dl>
            <dt>General Testing For Cancer</dt>
            <dd>Breast</dd>
            <dd>Cervical</dd>
            <dd>Uterine</dd>
            <dd>Ovarian</dd>
        </dl>
    </div>

  <p>HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
