{% extends "main/base.html" %}

{% block menu_select %}2.6{% endblock %}

{% block subtitle %}<br/>Gynecology{% endblock %}
{% block subtitle-information %}
<br/>Khalil Solaimanzadeh, MD
{% endblock %}

{% block content %}
  <div class="content-label">We Provide The Following Tests</div>
  <ul class="content">
    <li>Pap Smear</li>
    <li>Breast Exam / Mammography</li>
    <li>Bone Density / Osteoperosis</li>
    <li>Post-Menopausal Syndrome</li>
  </ul>

  <div class="content-label">General Testing For Cancer</div>
  <ul class="content">
    <li>Breast</li>
    <li>Cervical</li>
    <li>Uterine</li>
    <li>Ovarian</li>
  </ul>

  <p class="content">HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
