{% extends "department/dept.html" %}

{% block content %}
  <p class="content">Internal Medicine is responsible for the general medical problems and total health of adult patients</p>

  <div class="content-label">Problems Routinely Diagnosed and Treated by Internal Medicine Include:</div>
  <ul class="content">
    <li>Arthritis</li>
    <li>Diabetes</li>
    <li>Heart Problems</li>
    <li>High Cholesterol</li>
    <li>Hypertension</li>
    <li>Stomach Problems</li>
  </ul>

  <div class="content-label">Patients should also regularly come in for</div>
  <ul class="content">
    <li>Yearly Physicals</li>
    <li>Flu Injections</li>
  </ul>
  
  <div class="content-label">Complete Bloodwork includes</div>
  <ul class="content">
    <li>CBC (Complete Blood Count)</li>
    <li>CMP (Complete Metabolic Profile)</li>
    <li>Lipid Profile (Serum Cholesterol)</li>
  </ul>

  <p class="content">HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
