{% extends "department/dept.html" %}

{% block content %}
    <p>Internal Medicine is responsible for the general medical problems and total health of adult patients</p>

    <p>Patients should make it a point to regularly come in for their Yearly Physicals and Flu Injections</p>

    <dl class="content">
        <dt class="content">Problems Routinely Diagnosed and Treated by Internal Medicine</dt>
        <dd class="content">Arthritis</dd>
        <dd class="content">Diabetes</dd>
        <dd class="content">Heart Problems</dd>
        <dd class="content">High Cholesterol</dd>
        <dd class="content">Hypertension</dd>
        <dd class="content">Stomach Problems</dd>

        <dt class="content">Complete Bloodwork</dt>
        <dd class="content">CBC (Complete Blood Count)</dd>
        <dd class="content">CMP (Complete Metabolic Profile)</dd>
        <dd class="content">Lipid Profile (Serum Cholesterol)</dd>
    </dl>


    <p>HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
