{% extends "department/dept.html" %}

{% block content %}

    <dl class="content">
        <dt class="content">Services Provided</dt>
        <dd class="content">EEG</dd>
        <dd class="content">EMG (Electro Miography)</dd>
        <dd class="content">Nerve Conduction Velocity Studies</dd>
        <dd class="content">Neuro Psychological Testing</dd>
          
        <dt class="content">Special Expertise</dt>
        <dd class="content">Head Injuries</dd>
        <dd class="content">Sports Neurology</dd>
        <dd class="content">Parkinsons Disease</dd>
        <dd class="content">Alzheimers Disease</dd>
    </dl>

    <p>HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
