{% extends "department/dept.html" %}

{% block content %}

  <div class="content-label">Services Provided</div>
  <ul class="content">
    <li>EEG</li>
    <li>EMG (Electro Miography)</li>
    <li>Nerve Conduction Velocity Studies</li>
    <li>Neuro Psychological Testing</li>
  </ul>
  
  <div class="content-label">Special Expertise In</div>
  <ul class="content">
    <li>Head Injuries</li>
    <li>Sports Neurology</li>
    <li>Parkinsons Disease</li>
    <li>Alzheimers Disease</li>
  </ul>
  <p class="content">HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
