{% extends "department/dept.html" %}

{% block content %}

    <div class="column">
        <dl>
            <dt>Services Provided</dt>
            <dd>EEG</dd>
            <dd>EMG (Electro Miography)</dd>
            <dd>Nerve Conduction Velocity Studies</dd>
            <dd>Neuro Psychological Testing</dd>
        </dl>
    </div>
              
    <div class="column">
        <dl>
            <dt>Special Expertise</dt>
            <dd>Head Injuries</dd>
            <dd>Sports Neurology</dd>
            <dd>Parkinsons Disease</dd>
            <dd>Alzheimers Disease</dd>
        </dl>
    </div>

    <p>HPV vaccination available to prevent cervical cancer</p>
{% endblock %}
