{% extends "department/dept.html" %}

{% block content %}

    <div class="column">
        <dl>
            <dt>Non Invasive Cardiology</dt>
            <dd>EKG</dd>
            <dd>Echocardiography</dd>
            <dd>Halter Monitor</dd>
            <dd>Stress Thaddum</dd>  
            <dd>Nuclear Cardiology</dd>
        </dl>
    </div>
    
    <div class="column">
        <dl>
            <dt>Cardiovascular Services</dt>
            <dd>Carotid Duplex</dd>
            <dd>Lower Extremity Arterial Doppler</dd>
            <dd>Lower Extremity Venous Duplex</dd>
            <dd>Aortic Abdominal Aneurysm</dd>
            <dd>Renal Artery Stenosis</dd>
        </dl>
    </div>
  
{% endblock %}
