{% extends "main/base.html" %}

{% block menu_select %}2.10{% endblock %}

{% block subtitle %}<br/>Physiotherapy and Rehabilitation{% endblock %}
{% block subtitle-information %}
<br />State of the Art Exercise Equipment
<br />Licensed Physiotherapists
{% endblock %}

{% block content %}

<div class="content-label">Therapeutic Modalities</div>
<ul class="content">
  <li>Electric Stimulation</li>
  <li>Hot / Cold Packs</li>
  <li>Paraffin Wax Bath</li>
  <li>Ultrasound</li>
  <li>Joint Spinal Manipulations</li>
  <li>Joint Spinal Mobilizations</li>
  <li>Massage Therapy</li>
  <li>Rehabilitative Exercise</li>
</ul>

<ul class="content">
  <li>Range of Motion</li>
  <li>Muscle Strength Testing</li>
</ul>
  
{% endblock %}
