{% extends "department/dept.html" %}
{% block subtitle-information %}
State of the Art Exercise Equipment<br/>
Licensed Physiotherapists
{% endblock %}

{% block content %}

    <dl class="content">
        <dt class="content">Therapeutic Modalities</dt>
        <dd class="content">Electric Stimulation</dd>
        <dd class="content">Hot / Cold Packs</dd>
        <dd class="content">Paraffin Wax Bath</dd>
        <dd class="content">Ultrasound</dd>
        <dd class="content">Joint Spinal Manipulations</dd>
        <dd class="content">Joint Spinal Mobilizations</dd>
        <dd class="content">Massage Therapy</dd>
        <dd class="content">Rehabilitative Exercise</dd>
    </dl>
    <dl class="content">
        <dd class="content">Range of Motion</dd>
        <dd class="content">Muscle Strength Testing</dd>
    </dl>
  
{% endblock %}
