{% extends "department/dept.html" %}

{% block subtitle-information %}
Dr. <a href="{{BASE_URL}}/staff/medical/yakov_beim">Yakov Beim</a>, DPM
{% endblock %}

{% block content %}

<div class="content-label">General Treatment For</div>
<ul class="content">
  <li>Ankle Sprains</li>
  <li>Bunions and Hammer Toes</li>
  <li>Diabetic Foot Care</li>
  <li>Fungus Toenails</li>
  <li>Ingrown Toenails</li>
  <li>Heel and Arch pain</li>
  <li>Numbness or Tingling</li>
</ul>

<div class="content-label">Wound Care and other Injuries treated</div>
  
{% endblock %}
