{% extends "department/dept.html" %}

{% block content %}

  <div class="cb">&nbsp;</div>

  <div class="column">
    <dl class="content">
        <dt class="content">General Services</dt>
        <dd class="content">Trauma</dd>
        <dd class="content">Anxiety</dd>
        <dd class="content">Depression</dd>
        <dd class="content">Substance Abuse</dd>
        <dd class="content">Geriatric Psychotherapy</dd>

        <dt class="content">Forensic Psychology</dt>
        <dd class="content">Competency Evaluations</dd>
        <dd class="content">Post Jail Rehabilitative Therapy</dd>
    </dl>
  </div>

  <div class="column">
    <dl class="content">
        <dt class="content">Psychological Evaluations</dt>
        <dd class="content">Intelligence</dd>
        <dd class="content">Personality</dd>
        <dd class="content">Neuropsychological</dd>
        <dd class="content">Dementia</dd>
        <dd class="content">Alzheimers</dd>
        <dd class="content">Memory Functions</dd>
        <dd class="content">Cognitive Functioning</dd>
        <dd class="content">Return to Work</dd>
    </dl>
  </div>

  <div class="cb">&nbsp;</div>
  <p>Referrals made to rehabilitation centers, such as NYU RUSK, VESID, FEGS, Center for Autims and Related Diseases, and other appropriate facilities</p>
  
{% endblock %}
