{% extends "department/dept.html" %}

{% block content %}

  <p class="content">Pain X-Ray</p>
  <p class="content">Mammogram</p>
  <p class="content">Dexa Scan (bone mineral density)</p>

  <div class="cb">&nbsp;</div>
  <p class="content">Sonography</p>
  <ul class="content">
    <li>OB-GYN</li>
    <li>Cardiac</li>
    <li>Small Parts</li>
    <li>Vascular</li>
  </ul>

  <div class="cb">&nbsp;</div>
  <p class="content">CT-Scan (head and total body)</p>
  <p class="content">MRI</p>

  <div class="cb">&nbsp;</div>
  <p class="content">Nuclear Medicine</p>
  <ul class="content">
    <li>Thyroid Scan</li>
    <li>Bone Scan</li>
    <li>Nuclear Cardiology</li>
  </ul>
  
{% endblock %}
