{% extends "main/base.html" %}

{% block menu_select %}2.14{% endblock %}

{% block subtitle %}<br/>Minor Surgical Procedures{% endblock %}
{% block subtitle-information %}
<br /><a href="{{BASE_URL}}/staff/medical/sami_nathan">Sami Nathan</a>, MD
{% endblock %}

{% block content %}

  <div class="cb">&nbsp;</div>
  <div class="cb">&nbsp;</div>
  <div class="cb">&nbsp;</div>

  <div class="content-item">Minor Surgical Procedures</div>
  <ul class="content">
    <li>Breast Procedures and Biopsies</li>
    <li>Hand Surgical Procedures</li>
    <li>Anal Procedures</li>
  </ul>
  
{% endblock %}
