{% extends "department/dept.html" %}

{% block content %}

  <div class="cb">&nbsp;</div>
  <div class="cb">&nbsp;</div>
  <div class="cb">&nbsp;</div>

  <p class="content">Urology deals with problems of the male and female urinary tract (Kidneys, Ureter, Bladder, and Urethra) as well as the Male Reproductive Organs</p>

  <p class="content">These problmes include Urologic Cancers (including Prostate Cancer), Impotence, Urinary Tract Infection, Kidney Stones, Male Infertility, Urinary Incontinence, and some Sexually Transmitted Diseases (STDs).</p>

  <p class="content">Urology is classified as a surgical subspecialty.  A urologist with advanced qualifications in surgery may be a fellow of the American College of Surgeons (FACs)</p>
  
{% endblock %}
